version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: qwerty
    ports:
      - "27017:27017"
    volumes:
      # - /Users/Riyaz/Documents/Docker/mongo-data:/data/db
        - C:\Users\Riyaz\Documents\Docker\mongo-data:/data/db

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: qwerty
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ENABLE_ADMIN: "true"
      ME_CONFIG_MONGODB_URL: "mongodb://admin:qwerty@mongo:27017/"
    ports:
      - "8081:8081"
    depends_on:
      - mongo

  nodeapp:
    build: .
    container_name: nodeapp
    ports:
      - "5050:5050"
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://admin:qwerty@mongo:27017
