# Docker Compose file to set up MySQL database service
# Services are container or images that run in Docker
services :
# MySQL Database Service
  mysql_container :
    image : mysql:latest
    environment :
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=amazon
    container_name : mysql_container